@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust according to the actual weight range of your variable font */
  font-style: normal to italic; /* Adjust if your font supports italics */
}

html {
  --line-color:#e5e7eb;
}

html.dark{
  --line-color: rgba(255, 255, 255, 0.2)
}

.borderBlack{
  @apply border border-black/10
}

body {
  font-family: 'Inter', sans-serif;
}


